body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

header h1 {
  font-size: 2.5em;
  font-weight: 900;
  text-align: center;
  padding: 0.5rem 0;
}
.card-image {
  width: 300px;

}

.cards {
  list-style: none;
}

.card {
  border-radius: 5px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;@media (min-width: 768px) {
    .cards {
      display: flex;
      flex-wrap: wrap;
    }
  
    .card {
      width: calc(33% - 2rem);
    }
  }
  
  @media (min-width: 1024px) {
    .card {
      width: calc(25% - 2rem);
    }
  }
  
  @media (min-width: 1200px) {
    .card {
      width: calc(20% - 2rem);
    }
  }
}
.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
.container {
  padding: 2px 16px;
}
.card-title {
  font-size: 11px;
  text-align: center;
}
.cards {
  display: grid;
  width : 300px;
  grid-template-columns: repeat(4,1fr);
  grid-gap: 16px;
}

.searchbar {
  padding: 1rem;
  display: flex;
  flex-direction: column;
}

label {
  font-weight: bold;
  display: block;
}

input {
  padding: 0.25rem;
  border: none;
  font-family: inherit;
  font-size: 1.2em;
  border-bottom: 2px solid gray;
  transition: all 0.2s;
  width: 100%;
}

input:focus {
  outline: none;
  border-bottom: 2px solid var(--green);
}

/* .address {
  white-space: pre
} */